<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">eBallot</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home' %}" class="active">Αρχική</a></li>
        <li><a href="{% url 'about' %}">Σχετικά</a></li>
        <li><a href="{% url 'services' %}">Υπηρεσίες</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Προφίλ</a></li>
        {% endif %}
        <li><a href="{% url 'team' %}">Ομάδα</a></li>
        <li><a href="{% url 'election_list' %}">Εκλογές</a></li>
        <li><a href="{% url 'contact' %}">Επικοινωνία</a></li>

        <!-- Authentication Links -->
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Αποσύνδεση</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Σύνδεση</a></li>
          <li><a href="{% url 'signup' %}">Εγγραφή</a></li>
        {% endif %}
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>
