<footer id="footer" class="footer light-background">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span class="sitename">eBallot</span>
          </a>
          <p>Η αξιόπιστη πλατφόρμα σας για ασφαλή, διαφανή και εύκολη διαδικτυακή ψηφοφορία. Ενισχύστε τον οργανισμό σας με το eBallot.</p>
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/yourhandle" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://facebook.com/yourpage" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/yourhandle" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://linkedin.com/company/yourcompany" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Χρήσιμοι Σύνδεσμοι</h4>
          <ul>
            <li><a href="{% url 'home' %}">Αρχική</a></li>
            <li><a href="{% url 'about' %}">Σχετικά με εμάς</a></li>
            <li><a href="{% url 'services' %}">Υπηρεσίες</a></li>
            <li><a href="#">Όροι Χρήσης</a></li>
            <li><a href="#">Πολιτική Απορρήτου</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Οι Υπηρεσίες μας</h4>
          <ul>
            <li><a href="#">Ασφαλής Ψηφοφορία</a></li>
            <li><a href="#">Αποτελέσματα σε Πραγματικό Χρόνο</a></li>
            <li><a href="#">Διαχείριση Εκλογών</a></li>
            <li><a href="#">Ενίσχυση Συμμετοχής</a></li>
            <li><a href="#">Πίνακας Ελέγχου Διαχειριστή</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Επικοινωνία</h4>
          <p>Λεωφόρος Δημοκρατίας 42</p>
          <p>Θεσσαλονίκη 54629</p>
          <p>Ελλάδα</p>
          <p class="mt-4"><strong>Τηλέφωνο:</strong> <span>+30 2310 123 456</span></p>
          <p><strong>Email:</strong> <span>support@eballot.com</span></p>
        </div>

      </div>
    </div>
  </div>

</footer>
